<div class="card">
	{{#if hasHeader}}
		<header class="card-header">
			<div class="card-header-title">
				{{title}}
			</div>
		</header>
	{{/if}}
	<div class="card-content">
		{{yield}}
	</div>
	{{#if hasFooter}}
		<footer class="card-footer">

		</footer>
	{{/if}}
</div>
