<div style="padding:1.5em;">
	<div class="columns is-multiline">
		{{#each model.orgs as |org|}}
			<div class="column">
				{{org-tile org=org click=(action "orgSelected" org)}}
			</div>
		{{/each}}
		<div class="column">
			{{org-tile}}
		</div>
	</div>
</div>

{{outlet}}